*.wav
.DS_Store
/.DS_Store
/SharperPortAudio.sln
/DemoConsole1/bin
/DemoConsole1/obj
/DemoConsole2/bin
/DemoConsole2/obj
/DemoConsole3/bin
/DemoConsole3/obj
/SharperPortAudio/bin
/SharperPortAudio/obj